examples/main/default/flows/Revenant_Approval_Decision_To_Signal_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <description>Reference example for issue #125: the outbound half of the native-Approval-Process bridge. Fires only when Approval_Status__c changes away from Pending -- i.e. when the native Approval Process's final approval/rejection field-update action lands. Reads the approver's actual comment from the standard approval history (ProcessInstance / ProcessInstanceStep) rather than a custom field, since Salesforce's built-in Approve/Reject "Comments" box is stored there, not written back onto the record automatically. Publishes the decision NativeApprovalWorkflowExample.RequestApprovalStep is waiting on via NativeApprDecisionSignalAction, which JSON.serialize()s the payload in Apex so a multi-line or quote-containing approver comment can never produce invalid JSON, and hardcodes the target signal name so it can never drift out of sync with the workflow's APPROVAL_KEY constant. This action path performs no DML of its own against Workflow_Instance__c or Workflow_Step_Execution__c; it only reads approval history and publishes the signal the engine already knows how to consume.</description>
    <formulas>
        <name>ResolvedCorrelationKey</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Correlation_Key__c}), {!$Record.Id}, {!$Record.Correlation_Key__c})</expression>
    </formulas>
    <formulas>
        <name>IsApproved</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Approval_Status__c}, 'Approved')</expression>
    </formulas>
    <formulas>
        <name>ApproverName</name>
        <dataType>String</dataType>
        <expression>$User.FirstName &amp; ' ' &amp; $User.LastName</expression>
    </formulas>
    <actionCalls>
        <name>Signal_Decision</name>
        <label>Signal Decision</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>NativeApprDecisionSignalAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetKey</name>
            <value>
                <elementReference>ResolvedCorrelationKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approved</name>
            <value>
                <elementReference>IsApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <elementReference>Get_Latest_Approval_Step.Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>approverName</name>
            <value>
                <elementReference>ApproverName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NativeApprDecisionSignalAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <environments>Default</environments>
    <interviewLabel>Revenant Approval Decision To Signal Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revenant Approval Decision To Signal Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Process_Instance</name>
        <label>Get Approval Process Instance</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Get_Latest_Approval_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Approval_Step</name>
        <label>Get Latest Approval Step</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Signal_Decision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Process_Instance</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Approval_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
